@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
  box-sizing: border-box;

}

::-webkit-scrollbar {
  display: none;
}





body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  background-color: rgb(240, 237, 237);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  font-size: 1.2375rem;
  color: #000000;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

a:hover {
  color: #0d6efd;
  font-weight: 700;

}

table,
tr {
  font-size: 11px;
  border: 1px solid rgba(230, 222, 222, 0.562);
}

table,
tr:hover {
  border: 1px solid rgba(44, 41, 51, 0.918);
}

.form-check-input[type=checkbox] {
  border-radius: .25em;
  width: 18px;
  height: 18px;
  border: 3px solid #000bff;
}

.CheckBoxModify {
  color: #000bff;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

i {
  font-size: 0.8rem;
  color: #000000;
}

.CT {
  font-family: cursive;
}

.desktopView {
  display: none;
}

.form-select {
  cursor: pointer !important;
}

/* ---------------------------------- */
/* -------------------------------------------------------------------------------------------- Common css ------------------------------------------------------------------------ */
.divDesign {
  background-color: rgba(255, 255, 255, 0.849);
  margin: 20px;
  padding: 0px 20px;
  border-radius: 4px;
  /* box-shadow: 0px 0px 35px 0px rgba(160, 161, 161, 0.5); */
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);
}

.boxDesign {
  background-color: rgba(255, 255, 255, 0.849);
  border-radius: 4px;
  box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.5);
}

.headingBar {
  border-bottom: 3px solid rgb(140, 140, 143);
  display: inline-block;
  border-radius: 20px;
  padding: 0 15px;
}

.submitButton {
  display: flex;
  justify-content: end;
  align-items: end;
}

.submitButton button {
  background-color: #9afd18;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitButton button:hover {
  background-color: #18fdcb;
  box-shadow: rgba(24, 207, 39, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.silimaButton {
  display: flex;
  justify-content: end;
  align-items: end;
}

.silimaButton button {
  background-color: #18fd70;
  border-radius: 4px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.silimaButton button:hover {
  background-color: #18fdcb;
  box-shadow: rgba(24, 207, 39, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.buttonCss {
  background-color: #18fd70;
  border-radius: 4px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 1px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sbuttonCss:hover {
  background-color: #18fdcb;
  box-shadow: rgba(24, 207, 39, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.page404 {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('./images/not.png');
}

.tableCss {
  font-size: 12px;
}

.conveyanceAmount {
  background-color: rgba(124, 230, 92, 0.733) !important;
}

.holidayAmount {
  background-color: rgba(92, 221, 230, 0.747) !important;
}

.overtimeAmount {
  background-color: rgba(202, 92, 230, 0.822) !important;
}

.dinnerAmount {
  background-color: rgba(230, 209, 92, 0.781) !important;
}




/* --------------------------------------------------------------------------------------------------- Common css ------------------------------------------------------------------------ */
/* -------------------------------------------------------------------------------------------Landing Page CSS-------------------- */



.headerCover {
  margin-top: 100px;
}

.bill-history-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #81e776;
  border-radius: 4px;
  padding: 5px 10px;
}

.billing-month-select {
  display: flex;
}

.billing-month-select select {

  border: 1px solid rgb(228, 228, 228);
}

.add-button-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  margin: 30px;
  border-radius: 50%;
  /* border: 3px solid #73AD21; */
  /* background-color: rgb(183, 238, 185); */
}

.add-button-bottom svg {
  text-align: center;
  font-size: 36px;
  border: 1px solid rgb(253, 253, 253);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
  cursor: pointer;
}

.add-button-bottom svg:hover {
  transition: all 1s ease;
  color: rgb(65, 5, 230);
  font-weight: 700;
  border: 1px solid rgb(4, 0, 255);
}





/* ------------------------------------------------------------------------------------------------------------Add Conveyance Bill------------------------- */
.inputFormCss {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border: 1px solid rgb(212, 212, 212);
}

.form-control {
  background-color: #98f5f8ef;
  color: #000;
}

.submitButton {
  display: flex;
  justify-content: end;
  align-items: end;
}

.submitButton button {
  background-color: #9afd18;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.submitButton button:hover {
  background-color: #18fdcb;
  box-shadow: rgba(24, 207, 39, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.fromMiddleSeparetion {
  border: 1px solid rgb(202, 200, 200);
  border-radius: 8px;
  margin-left: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.fromMidleSeparetionHeder {
  font-family: cursive;
}

.fromMidleSeparetionHeder h6 {
  display: inline-block;
  margin-bottom: 15px;
  border-bottom: 1px solid rgb(88, 88, 88);
}

.selectedDate {
  display: flex;
  align-items: center;
}

.editButton {
  text-align: center;
}

.editButton svg {
  color: rgb(0, 81, 255);
  cursor: pointer;
}

.editButton svg:hover {
  transition: all 1s ease;
  color: rgb(0, 13, 255);
}


.rejectButton svg {
  color: rgb(162, 0, 255);
  cursor: pointer;
  text-align: center;
  font-size: 18px;
}

.rejectButton svg:hover {
  transition: all 0.5s ease;
  color: rgb(255, 13, 0);
}

.acceptButton {
  text-align: center;
}

.acceptButton svg {
  color: rgb(6, 148, 101);
  cursor: pointer;
  font-size: 18px;
}

.acceptButton svg:hover {
  transition: all 1s ease;
  color: rgb(255, 0, 200);
}


/* ---------------------------------------------------------------------------------------------------------------------Add Zone Section--------------------------- */




.zoneList {
  display: flex;
  justify-content: space-between;
  background-color: #f0fcf1;
  margin: 10px 5px;
  padding: 0px 10px;
  box-shadow: 0px 5px 5px gray;
}

.zoneList:hover {
  background-color: rgba(161, 172, 8, 0.493);
}

.zoneList p {
  padding: 4px;
  font-family: sans-serif;
}

.zoneList span {
  background-color: rgba(0, 255, 106, 0.563);
  padding: 5px 10px;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.zoneList span:hover {
  background-color: rgba(255, 64, 0, 0.811);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
}



/* // Member Section -----------------------  */
.topBosheader {
  display: inline-block;
  margin-top: 20px;
  border-bottom: 1px solid gray;
  font-family: cursive;
}



.imageLogo {
  width: 185px;
}

.loginBackgroupColor {
  background-color: #eee;
}

.gradient-custom-2 {
  /* fallback for old browsers */
  background: #fccb90;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #069c0ce6, #30e496, #53e34b, #069c0ce6);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #069c0ce6, #30e496, #53e34b, #069c0ce6);
}

/* ----------------------Pending List-------------------------------- */
.topRowDiv {
  text-align: center;
}

.topRowDiv button {
  width: 100%;
  border: 1px solid rgb(173, 163, 163);
  background: linear-gradient(to right, #aca9a4e6, #30e496, #53e34b, #b9b9b7e6);
  border-radius: 8px;
  box-shadow: 2px 2px 2px gray;
  padding: 5px 0px;
}

.topRowDiv button:hover {
  width: 100%;
  border: 1px solid rgb(173, 163, 163);
  background: linear-gradient(to right, #52d859e6, #c3e430, #c7e34b, #66d14be6);
  border-radius: 8px;
  box-shadow: 2px 2px 2px gray;
  padding: 5px 0px;
  transition: ease 1s all;
}

.rejectBillNote {
  color: tomato !important;
  font-weight: 900;
  ;
}

/* -------- Complete View css ------------------------------------------------------------------------ */

.complete-container-true {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  color: white;
  background-color: rgba(26, 189, 61, 0.781);
  transition: all 1s ease;
}

.complete-container-false {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100vh;
  color: white;
  background-color: rgba(26, 189, 61, 0.781);
  transition: all 1s ease;
}

.complete-user-block {
  /* background-color: rgba(223, 129, 21, 0.185); */
}

.complete-user-list {
  display: flex;
  background-color: rgba(0, 0, 0, 0.479);
  box-shadow: 0px 2px 5px rgba(4, 154, 214, 0.678) !important;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  font-size: 11px;
  cursor: pointer;
  transition: all 1s ease;
  justify-content: space-between;
}

.complete-user-list:hover {
  background-color: rgba(82, 21, 90, 0.815);
  box-shadow: 0px 2px 5px rgba(4, 18, 214, 0.678) !important;
  font-size: 11px;
}
.complete-user-list > p{
  line-height: 22px;
}
.complete-user-list > span{
  background-color: tomato;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  border-radius: 100%;
  line-height: 20px;
}

.side-view-component {
  padding: 20px;
}

.main-view-component {
  flex: 1;
  background-color: white;
  padding: 30px;
}

.complete-top-form {
  background-color: #dbfd18be;
}

.billing-month-select select {
  border: 1px solid rgb(228, 228, 228);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete-filter-select {
  display: flex;
  justify-content: space-around;
}



.goButton button {
  margin-top: 15px;
  width: 100%;
  box-sizing: border-box;
}

.complete-nav-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 20;
  left: 250px;
  background-color: tomato;
  border-radius: 0px 8px 8px 0px;
  transition: all 1s ease;

}

.complete-nav-arrow:hover {
  background-color: #fdb418;
  color: #000bff;
  width: 31px;
  height: 31px;
}

.complete-nav-arrow svg {
  font-size: 24px;
  padding: 5px 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.complete-user-block {
  overflow: scroll;
  height: 100vh;
scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.complete-user-block::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
.navbar-nav svg{
  color: rgb(0, 38, 255);
  font-weight: bolder;
  font-size: 14px;
  margin-right: 10px;
}
.navbar-nav svg:hover{
  color: rgb(0, 0, 0);
  font-weight: bolder;
  font-size: 14px;
  margin-right: 10px;
}

/* background-color: rgb(254 125 82 / 98%) !important; */
/* ------------------------------------------------------------------------------------------------------ Complete View css End ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ TeamMember Start ------------------------------------------------------------------------ */
.team-member-name-box {
  background-color: rgba(27, 123, 187, 0.719);
  color: rgb(0, 0, 0);
  font-size: 13px;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.team-member-list {
  font-size: 12px;
}

/* ------------------------------------------------------------------------------------------------------ TeamMember End ------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ Combined start ------------------------------------------------------------------------ */
.combined-button-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0px 2px;
  margin: 30px;
  border-radius: 8px;
  border: 3px solid #21ada1;
  background: linear-gradient(to top, #d1d2d3e6, #30cfe4, #4bb8e3, #d6dcdde6);
  cursor: pointer;
  text-align: center;
    z-index: -999;
}

.combined-button-bottom:hover {
  background: linear-gradient(to right, #1d85a5e6, #30cfe4, #4bb8e3, #1d85a5e6);
}

.combined-button-bottom svg {
  text-align: center;
  font-size: 20px;
  border: 1px solid rgb(253, 253, 253);
  margin-right: 5px;
  border-radius: 50%;
  /* padding: 3px; */
  cursor: pointer;
}

.combined-button-bottom svg:hover {
  transition: all 1s ease;
  color: rgb(65, 5, 230);
  font-weight: 700;
  border: 1px solid rgb(4, 0, 255);

}

/* ------------------------------------------------------------------------------------------------------ Combined End ------------------------------------------------------------------------ */









































@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}